
.contact-menu-home{
    margin: 7rem 0rem 2rem 0;
    background-color: #f7f1e5;
    width: 100vw;
    height: 50vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Raleway, sans-serif;
}

.contact-menu-home h1{
    font-size: 5rem;
}
.contact-menu-home {
    font-size: 1.5rem;
}
.contact-col{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    width: 30%;
    margin-left: 2rem;
}
.contact-col .title1st{
    display: flex;
}
.contact-col .title1st img{
    width: 5rem;
}
.contact-col .contact{
    display: flex;
}
.contact-col .contact .phone{
    margin-right: 2rem;
}
.follow p{
    font-family: Raleway, sans-serif;
    font-size: 2rem;
}
.follow .social img{
    background-color: #4c4b16;
    border-radius: 20px;
    width: 2rem;
    transition: 500ms ease-in-out;
}
.follow .social img:hover{
    background-color: #5a5a33;
    width: 3rem;
    cursor: pointer;
}

.map iframe{
    position: relative;
    width: 90%;
    height: 50vh;
    
}
.contact-row{
    justify-content: center;
}
@media (max-width:420px) {
    
    .follow p{
        font-size: 1rem;
    }
    .follow .social{
        display: flex;
        flex-direction: row;
    }
    .follow .social img{
        margin-right: 0.5rem;
    }
    .map iframe{
        margin-top: 0.5rem;
    }
    .contact-row{
        justify-content: space-between;
    }
}
@media (max-width:570px) {
    
    .follow p{
        font-size: 1rem;
    }
    .follow .social{
        display: flex;
        flex-direction: row;
    }
    .follow .social img{
        margin-right: 0.5rem;
    }
    .map iframe{
        margin-top: 0.5rem;
    }
    .map{
        margin-left: 4px;
    }
    .contact-row{
        justify-content: space-between;
    }
}
@media (max-width:1020px) and (min-width:750px) {
    
   .contact-col{
    margin-right: 3rem;
   }
    .map{
        margin-left: 3rem;
    }
}