
.offer-menu-home{
    margin: 7rem 0rem 2rem 0;
    background-color: #f7f1e5;
    width: 100vw;
    height: 50vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Raleway, sans-serif;
}

.offer-menu-home h1{
    font-size: 5rem;
}
.offer-menu-home {
    font-size: 1.5rem;
}